#container {
    display: grid;
    border: 4.5px solid black;
    height: 960px;
    width: 960px;
    margin-top: 3rem;
}

#container > * {
    flex: 1 0 auto;
}

button {
    width: 10rem;
    margin-top: 3rem;
}

#container-container {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    height: 5rem;
    justify-content: center;
}